<div class="side-bar">
  <div class="header">
    <h3 class="header__name">taiga</h3>
    <ul class="header__lists">
      <li class="list">
        <a href="">
          <i class="fa fa-pencil-square-o icon"></i>
        </a>
      </li>
      <li class="list">
        <a href="">
          <i class="fa fa-cog icon"></i>
      </li>
    </ul>
  </div>
  <div class="groups">
    <div class="group">
      <h4>神</h4>
      <p>god</p>
    </div>
    <div class="group">
      <h4>aaaaaaaaa</h4>
      <p>まだメッセージはありません。</p>
    </div>
    <div class="group">
      <h4>sampleグループ</h4>
      <p>まだメッセージはありません。</p>
    </div>
  </div>
</div>
