  .chat {
    width: calc(100vw - 300px);
    height: 100vh;
    .header {
      box-sizing: border-box;
      height: 100px;
      padding: 0 40px;
      .left-header {
        padding-top: 35px;
        float: left;
        &__title {
          font-size: 20px;
          color: #333333;
        }
        &__members {
          margin-top: 15px;
          font-size: 12px;
          color: #999999;
          .member {
            display: inline-block;
          }
        }
      }
      .right-header {
        border: 1px solid $light_blue;
        float: right;
        height: 40px;
        margin-top: 28px;
        border: 1px solid #38AEF0;
        color: #38AEF0;
        line-height: 40px;
        padding: 0 20px;
        &__button {
          color: #38AEF0;
          text-decoration: none;
        }
      }
    }
    .messages {
      background-color: #FAFAFA;
      height: calc(100vh - 100px - 90px);
      padding: 46px 40px 0 40px;
      box-sizing: border-box;
      border-top: #eeeeee;
      overflow: scroll;
      .message {
        margin-bottom: 40px;
        .upper-message {
          display: flex;
          &__user-name {
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: #999999;
            font-size: 12px;
            padding-left: 10px;
          }
        }
        .lower-message {
          margin-top: 10px;
          &__content {
            color: #434a54;
            font-size: 14px;
            margin-bottom: 40px;
          }
        }
      }
    }
    .form {
      height: 90px;
      padding: 20px 50px 20px 40px;
      box-sizing: border-box;
      background-color: #dddddd;
      &__messsage {
        box-sizing: border-box;
        float: left;
        height: 50px;
        padding: 0 10px;
        width: calc(100% - 150px);
        border: none;
      }
      &__mask {
        background-color: #fff;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
          .fa {
            display: inline-block;
          }
        }
        .hidden {
          display: none;
        }
      }
      &__submit {
        background-color: #38AEF0;
        border: none;
        color: #fff;
        float: right;
        font-size: 16px;
        height:50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
