  .side-bar {
    box-sizing: border-box;
    width: 300px;
    height: 100vh;
    background-color: #2f3e51;
    .header {
      height: 100px;
      padding: 0 20px;
      background-color: #253141;
      line-height: 100px;
      &__name {
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
        display: inline-block;
      }
      &__lists {
        float: right;
        display: inline-block;
        .list {
          display: inline-block;
          .icon {
          color: #FFF;
          }
        }
      }
    }
    .groups {
      padding: 0 20px 0 20px;
      height: calc(100vh - 100px);
      .group {
        padding: 20px 0 20px 0;
        h4 {
          font-size: 15px;
          color: #FFFFFF;
          margin-bottom: 5px;
        }
        p {
          font-size: 11px;
          color: #FFFFFF;
        }
      }
    }
  }
