
.chat {
	height: 100vh;
	width: calc( 100% - 300px );
	float: left;
	&-group {
			border-bottom: solid 1px $border-color;
			height: 100px;
		&__edit {
			line-height: 40px;
			border: solid $skyblue;
			color: $skyblue;
			padding: 0 20px;
			float: right;
			margin-top: 28px;
			margin-right: 40px;
		}
		&__hedder {
			margin-left: 40px;
			padding-top: 35px;
			&-title {
				font-size: 20px;
				color: #333333;
			}
			&-members {
				font-size: 12px;
				color: $gray;
				margin-top: 15px;
			}
		}
	}
	&-main {
		height: calc( 100% - 190px);
		width: 100%;
		position: relative;
		background: $main;
		&__contents{
		padding-top: 46px;
		margin: 0 40px;
		font-size: 0;
			&__user {
				font-size: 16px;
				font-weight: bold;
				color: $black;
				display: inline-block;
			}
			&__time {
				line-height: 16px;
				font-size: 12px;
				color: #999999;
				margin-left: 10px;
				display: inline-block;
			}
			&__message {
				font-size: 14px;
				color: $black;
				margin-top: 10px;
			}
		}
	}
	&-fotter {
		position: fixed;
		height: 90px;
		width: calc(100% - 300px);
		background: $main;
			&__message {
        		height: 20px;
        		width: calc(100% - 215px);
        		padding: 15px 10px;
        		margin: 20px 40px;
			}
			&__chat-file {
				line-height: 50px;
        		position: absolute;
        		right: 150px;
        		top: 20px;
        		padding: 0 10px;
			}
			.image {
				position: absolute;
        		top: 15px;
        		left: 15px;
        		display: none;
      		}
    		.submit {
      			width: 100px;
      			height: 50px;
      			color: $white;
      			text-align: center;
      			background-color: $skyblue;
      			position: absolute;
      			right: 40px;
      			top: 20px;
    		}
	}
}
