.list {
	height: 100vh;
	width: 300px;
	background-color: $list;	
	float: left;
	&-user {
		height: 100px;
		background-color: $list-user;
		position: relative;
		color: $white;
		&__name {
			font-size: 16px;
			font-weight: bold;
			padding: 35px 0 0 20px;
      		position: relative;
      		float: left;
		}
        &__option {
        	float: right;
        	line-height: 100px;
        	margin-right: 20px;
        	}
	}
	&-group {
		padding: 20px 20px 0 20px;
		color: $white;
		&__name {
			font-size: 15px;
		}
		&__messages {
			padding: 5px 0 40px 0;
			font-size: 11px;
		}
	}
}